.content{
    max-width:550px;
    margin:auto;
    height:90vh;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:20px;
}

.Xform-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-container form{
max-width:400px;
margin:auto;
}
.content > form{
width:300px;
margin:auto;
}
.content > button{
width:300px;
margin:auto;
}

form button,form input,form p,form select{
width:100%;
}

table{
    margin:auto;
   border-collapse: collapse;
}


table td{
width:60px;
padding:10px;
border-bottom:1px solid black;
}
table .name{
width:150px;

}
table .url{
width:450px;

}
table form{
margin:0;
padding:0;
width:100%;
}
table input{
width:100%;
}
